.theme-devel {
  html {
    color: #333;
  }

  body {
    background: #333;
  }

  #container {
    background: #fff;
  }

  #header {
    background: #333;
  }

  #logo {
    background: #333;
  }

  #top_info {
    float: right;
    background: #666;
    border-color: #c7c7c7;
  }

  #banner {
    background: #666;
  }

  #left_col {
    border-color: #333;
    color: #000;
  }

  #right_col {
    border-color: #333;
    color: #000;
  }
}
